.slider {
    position: relative;
    width: 100%;
    /* max-width: 800px; */
    margin: 0 auto;
    overflow: hidden;
}

.slides-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
    box-sizing: border-box;
    text-align: center;
}

.slide-image {
    /* width: 100%; */
    height: auto;
    display: flex;
    max-height: 600px;
    object-fit: cover;
}

.slide-text {
    margin-top: 10px;
    font-size: 1.2rem;
    color: #333;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 1.5rem;
    z-index: 10;
}

.prev-arrow {
    left: 10px;
}

.next-arrow {
    right: 10px;
}

.dots-container {
    text-align: center;
    margin-top: 10px;
}

.dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    cursor: pointer;
}

.dot.active {
    background-color: #333;
}